/* general reset*/

body, body * {
  margin: unset;
  box-sizing: unset;
  padding: 0;
  font-size: unset;
  color: black;
  text-decoration: unset;
}

/* body basic */
body {
  width: 100%;
  height: 100%; /* just to fill upp site, may be temporary */
}

/* css variables */

:root{
  --headerclr: #2c3e50;
}

/* whole page grid - general template*/
/* grid unused at the moment */

.pagewrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: calc(3px + var(--headerheight)) auto 200px;
  grid-template-columns: 1fr var(--pagewidth) 1fr;
  grid-template-areas: "not1 header not2" "not3 content not4" "not5 footer not6";
}

/* head bar, with navigation (links) */

header {
  grid-row: header;
  grid-column-start: not1;
  grid-column-end: not2;
  width: 100%;
  height: 60px;
  float: left;
  position: relative;
  background-color: var(--headerclr);
}

/* logo placement */

.logo{
  position: relative;
  top: 50%;
}

/* nav. menu */

nav {
  padding: 0;
  float: right;
}

/* navigation menu */

.menu{
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* menu items */

.menu li {
  display:inline-block;
  position: relative;
}
.menubtn {
  padding: 0.8em;
  font-size: 13px;
  border: 1px solid;
  border-radius: 5px;
}

form {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  background: grey;
  text-align: center;
}


.gradientAnim {
  background: linear-gradient(270deg, #f39c12, #8e44ad, #f39c12, #8e44ad);
  background-size: 800% 800%;

  -webkit-animation: GradientAnimation 00s ease infinite;
  -moz-animation: GradientAnimation 00s ease infinite;
  -o-animation: GradientAnimation 00s ease infinite;
  animation: GradientAnimation 60s ease infinite;
}

@-webkit-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


.gameContent {
  background-color: lightgray;
  width: 1400px;
}

.pingpong{
  margin: 80px 0 0 299px;
  border: 1px solid black;
  
}

.gameInfo{
  width: 800px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 710px 90px;
  
}

.opponentName{
  width: 710px;;
}

.pingMS{
  width: 90px;
  justify-content: right;
}

.startButton{
  background-color: white;
  width: 150px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  top: -250px;
  left: 625px;  
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 

}

.startButtonClick{
  font-size: 12px;
}

.startButtonGone{
  display: none;
}


.bigLink {
  width: 100px;
  height: 40px;
  background-color: grey;
}