/* general reset*/

body, body * {
  margin: unset;
  box-sizing: unset;
  padding: 0;
  font-size: unset;
  color: black;
  text-decoration: unset;
}

/* body basic */
body {
  width: 100%;
  height: 100%; /* just to fill upp site, may be temporary */
  background-color: var(--blue200);
}

/* css variables */

:root{
  --font: "Source Sans Pro", Arial,"Helvetica Neue",Helvetica,sans-serif;
  --headerclr: #383b3f;
  --headerheight: 50px;
  --pagewidth: 1250px;
  --blue200: #0b1725;
  --blue100: #09121d;
  --blue600: #5f93d0;
  --blue500: #346daf;
}

/* whole page grid - general template*/
/* grid unused at the moment */

.pagewrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: var(--headerheight) auto 150px;
  grid-template-columns: 1fr var(--pagewidth) 1fr;
  grid-template-areas: "not1 header not2" "not3 content not4" "not5 footer not6";
}

/* head bar, with navigation (links) */


.header-background {
  width: 100%;
  background-color: var(--blue100);
  grid-row: header;
  grid-column-start: not1;
  grid-column-end: not2;
  box-shadow: 0px 3px 7px 0px black;
}

header {
  font-family: Montserrat, sans-serif;
  width: var(--pagewidth);
  grid-row: header;
  grid-column: header;
  height: var(--headerheight);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo placement */

.logo{
  margin-left: 15px;
}

.logo img {
  height: 40px;
  color: white;
  font-family: Montserrat, sans-serif;
}

/* nav. menu */

nav {
  top: 0px;
  height: 50px;
}

/* navigation menu */

.menu{
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  height: inherit;

  display: flex;
  align-items: center;
}

/* menu items */
.menu li {
  display: inline-block;
  
}

.menu li a {
  padding: 15px 10px;
  color: white;
  font-size: 18px;
}

.menu li a:hover {
  background-color: rgba(255, 255, 255, 0.131);
}

/* .menubtn {
  padding: 0.8em;
  font-family: var(--font);
  font-size: 13px;
  font-weight: 500;
  border: 1px solid;
  border-radius: 5px;
} */

form {
  grid-row: content;
  grid-column: content;
  padding: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -70%);
  background: var(--blue100);
  text-align: center;
  border-radius: 10px;
}
.errormsg {
  margin-bottom: 5px;
}
.errormsg p{
  color: #ccc;
}

form input {
  margin-bottom: 15px;
  border: none;
  padding: 12px 20px;
}

form input[type=text], form input[type=password] {
  background-color: var(--blue200);
  color: #ccc;
}

form input[type=submit] {
  cursor: pointer;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 7px 0px black;
}

.link p {
  color: #ccc;
}
.link a {
  color: var(--blue500);
}

.loading {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1dae3;
}
.loading .text {
  color: transparent;
  display: inline-block;
  border-radius: 3px;
  background-color: #1d3557;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
}

.loading .text:before {
  content: attr(data-title);
  background: linear-gradient(90deg, #4e17bb 0%, #d48e1d 51, #c30a28 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 1s ease-in-out;
  animation: text-animation 3s infinite;
}

@keyframes text-animation {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.gradientAnim {
  background: linear-gradient(270deg,  rgb(78, 23, 187), #d18c1c, #c30a28);
  background-size: 1000% 1000%;

  -webkit-animation: GradientAnimation 40s ease infinite;
  -moz-animation: GradientAnimation 40s ease infinite;
  -o-animation: GradientAnimation 40s ease infinite;
  animation: GradientAnimation 40s ease infinite;
}

@-webkit-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes GradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


.gameContent {
  grid-row: content;
  grid-column: content;
  background-color: lightgray;
  width: 100%;
  position: relative;
  margin-top: 30px;
}

.pingpong{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;

}

.gameInfo{
  width: 800px;
  display: grid;
  grid-template-columns: 710px 90px;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
}

.opponentName{
  width: 710px;;
}

.pingMS{
  width: 90px;
  justify-content: right;
}

.pingpong{
  border: 1px solid black;
  position: relative;
  top: 50px; 
  left: 50%;
  transform: translate(-50%);
}

.startButton{
  background-color: white;
  width: 150px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  left: 50%;
  top: -12%;
  transform:translate(-50%);
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}

.startButtonClick{
  font-size: 12px;
}

.startButtonGone{
  display: none;
}

.bigLink {
  width: 100px;
  height: 40px;
  background-color: grey;
}


footer {
  grid-row: footer;
  grid-column: footer;
}

.footerBorder {
  width: 100%;
  height: 3px;
}

.footerContent {
  display: flex;
  justify-content: space-between
}

.project_link, .copyright {
  height: 70px;
  display: flex;
  align-items: center;
}

.copyright, .project_link a {
  margin-left: 30px;
  color: var(--blue500);  
}